@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

.container {
  width: 90%;
  margin: 5%;
}

header {

  display: flex;
  justify-content: flex-start;

}

.logo {
  width: 15%;
  height: 100%;
}

#img {
  height: 100%;
}

.company-name {
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: rgb(255, 255, 255);
  width: 70%;
  color: black;
}



#border {
  width: 100%;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  padding-bottom: 0.9%;
}

.navi {
  font-size: 1.5em;
  background-color: rgb(252, 252, 252);
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 1%;
}

.navi>div>a {
  color: #000000
}

.tablet {
  width: 100%;
}

.main-news {
  width: 100%;
  height: 400px;
  margin: auto;
  position: relative;
  /* background-color: salmon; */
}

.main-photo {
  background-size: cover;
  width: 100%;
  height: 100%;
  /* background-color: brown; */
}

.main-photo-img {
  height: 100%;
  width: 100%;
  padding: auto;
  object-fit: cover;
}

.NewsTitle {
  position: absolute;
  bottom: 0px;
  background-color: white;
  color: gray;
  font-family: sans-serif;
  width: 100%;
}

.top-news {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  padding-bottom: 0.9%;
  color: #524f4f;
}

#top-news-header {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
}

/* .sports-updates {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.9%;

}

#sports-head {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 135%;
  padding-bottom: 1%;

}

#row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 0.9%;
}

.column3 {

  display: flex;
  width: 5%;
  justify-content: space-between;
}  */
table {
  width: 100%;
  height: 25em;
  padding: 20px 10px 5px 10px;
  text-align: center;
  border-collapse: collapse;
}

table>div{
  font-size: 1em;
}
tr:nth-child(odd) {
  background: white;
}

td {
  margin: 0.5em;
  padding: 0.5em;
}


#bold {
  font-weight: 500;
  color: #000000;
}

.weather {

  font: bold;
  padding-bottom: 0.9%;
}

.weather-head {
  display: flex;
  flex-direction: column;
  font-size: 2em;

}

#current-weather {
  font-size: 90%;
}

.weather-today {
  display: flex;
}


#w-t-temp {
  font-size: 5vw;
}

#w-t-unit {
  font-size: 3vw;
}

.weather-forecast>div {
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
  color: #524f4f;
}

.latest-news {
  width: 100%;
  background-color: #ffffff;
  padding-bottom: 0.9%;
}

.latest-news-head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 160%;
  color: #524f4f;
}

.latest-news-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #616161
}

.latest-news-content {
  padding-bottom: 1%;
}

.latest-news-content-head {
  font-size: 150%;
}

.latest-news-content-img {
  width: 14vw;
  float: left;
  padding-right: 2%;
  padding-bottom: 0.5%;

}

.latest-news-content-content {
  font-size: 120%;

}

.footer {
  width: 50%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 0.9%;
  color: #524f4f;
}